@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    
     font-family:"Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

 li {
    list-style-type: none;
 }

 h2 {
    color:rgb(6, 141, 13);
    text-align: center;
}

p {
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
}

.text--green {
    color: rgb(6, 141, 13)
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

body {
      background-color:rgb(197, 230, 241);
}

