@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    
     font-family:"Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

 li {
    list-style-type: none;
 }

.flex {
    display: flex;
}


.flex-1 {
    flex: 1;
}

h1 {
    text-align: center;
    line-height: 1.25;
    font-size: 30px;
}

h2 {
    color:rgb(6, 141, 13);
    text-align: center;
}

p {
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
}

.text--green {
    color: rgb(6, 141, 13)
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

body {
      background-color:rgb(197, 230, 241);
}

/*Nav Bar*/

nav {
    background-color:rgb(197, 230, 241);
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    font-size: 20px;
}

.nav__link--list {
    display: flex;
   
}

.nav__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    font-size: 16px;
    color:#242424;
    font-weight:bold;
}

.personal__logo {
    color:rgb(6, 141, 13);
    font-weight: bold;
}

/*About*/

#about-tommy {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.about__me {
    width: 100%;
    height: 100%;
     display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

.about-tommy-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img__container {
    padding: 0 24px;
    max-width: 100%;
}


.about-tommy__picture {
  width: 100%;
}

.about-tommy__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    margin-bottom: 20px;
    animation: animate-profile-picture 800ms 200ms backwards;
    
    
}
.wave {
    display: inline-block;
    animation: animate-wave 500ms infinite;
}

@keyframes animate-wave {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes animate-profile-picture {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.about-me__info--para {
    font-size: 20px;
    margin-bottom: 28px; 
}


.about-tommy__picture2 {
    border-radius: 50px;
    padding: 20px;
    width: 400px;
    max-width: 100%;
   
}


/*Family*/
#family{
    padding: 0 24px;

}

.about-me__img {
    width: 100%;
    animation: fade-in 1200ms 800ms backwards;
}

.img__container {
    display: flex;
   flex-direction: column;
    flex: 1;
    display: flex;
    align-items: center;
   
}

.tommy__pics {
    margin-left: 20px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    
}

.img__row {
    display: flex;
    flex-direction: column;
}

/*Roblox*/

.roblox__pics--mask {
  width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    margin-bottom: 20px;
    animation: animate-profile-picture 800ms 200ms backwards;
    
}
.row {
    display: flex;
    justify-content: center;
}

.roblox-friends {
    width: 500px;
    border-radius: 25px;
}

/*Horse Riding*/

#horse-riding {
    margin-top: 50px;
    margin-bottom: 100px;
}

.img__container--horse {
    display: flex;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
 
}

.tommy-pics {
    width: 300px;
    border-radius: 25px;
    margin-top: 32px;
    margin-left: 32px;
}

/* Footer */
/* Footer */
footer {
    background-color: #242424;
}

.footer__social--list {
   width: 100%;
   max-width: 500px;
   display: flex;
   justify-content: space-around;
    margin-bottom: 28px; 
}

.footer__row {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}
.footer__logo--img {
    width: 300px;
    height: 300px;

}
.footer__social--link,
.footer__copyright,
.footer__logo--popper {
    color: white;
}

.footer__logo--popper {
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}

.footer__anchor {
    position: relative;
    margin-bottom: 10px;
}

.footer__anchor:hover .footer__logo--popper {
transform: translateX(20px);
opacity: 1;
}



/* Small Phones, Tablets, and Large Smart Phones */
@media (max-width: 768px) {
nav {
    height: 68px;
}
h1 {
    font-size: 28px;
}

.about-me__info--para {
    font-size: 18px;
}

}

/*Small Phones */

@media (max-width: 480px) {
.nav__link:not(:last-child) {
    display: none;
}

.project__description {
    padding: 0;
    left: 0;
    width: 100%;
}

.project__description--para {
  display: none;  
}

.project__description--links {
display: flex;
justify-content: center;
}

.project__description--sub-title {
   text-align: center; 
   margin: 12px 0;
}
.project__description--title {
    font-size: 32px;
    line-height: 1;
    text-align: center;
}
}